:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: #dedede;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #00b1d4;
  --color-secondary: #80f3ff;
  --color-light: #bff9ff;
  --color-dark: #008694;
  --color-black-light: #111111;
  --color-black-light-highlighted: #292929;
  --color-black-light-highlighted-secondary: #3f3f3f;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-600: #aaaaaa;
  --color-white-300: #dedede;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100vw;
  min-width: 900px;
  height: 100vh;

  display: flex;
}

a {
  text-decoration: inherit;
}

h1 {
  margin: 0;
  font-size: 3.2em;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Layout */

.layout {
  height: 100%;

  display: flex;
  justify-content: center;
}

.layout__container {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
    'navbar navbar navbar'
    'aside main main';
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto calc(100% - 52px - 1rem);

  gap: 0.5rem;
}

/* Navbar */

.navbar {
  grid-area: navbar;

  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  display: flex;
  justify-content: center;
}

.navbar__container {
  background-color: var(--color-black-light);
  width: 100%;
  height: 36px;

  padding: 0.5rem 2.5rem;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

/* Navbar Title */

.navbar__title {
  color: var(--color-primary);
  font-size: 2rem;
}

.navbar__title--highlighted {
  color: var(--color-white);
}

/* Navbar Search */

.navbar__search {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.navbar__search__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;

  display: flex;
  justify-content: center;
}

.navbar__search--input {
  background-color: var(--color-black-light);
  width: 100%;
  padding: 0 1rem;

  border: var(--color-black-light-highlighted-secondary) solid 1px;
  border-color: var(--color-black-light-highlighted-secondary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  font-size: 1rem;
}

.navbar__search--input:focus {
  outline: none;

  border-color: var(--color-primary);
}

.navbar__search--button {
  cursor: pointer;

  background-color: var(--color-black-light-highlighted);
  width: 50px;
  padding: 0 0.75rem;

  border: var(--color-black-light-highlighted-secondary) solid 1px;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Links */

.navbar__links {
  display: flex;
  gap: 1.5rem;
}

.navbar__link {
  box-sizing: border-box;
  width: 32px;
  height: 32px;

  border: var(--color-primary) solid 2px;
  border-radius: 100%;

  transition: all;
  transition-duration: 300ms;
}

.navbar__link:hover {
  border-color: var(--color-secondary);

  scale: 1.05;
}

.navbar__link--active {
  border-color: var(--color-secondary);
}

.navbar__link--profile {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  background-color: #292929;
}

/* Aside */

.aside {
  grid-area: aside;

  height: max-content;
  max-height: calc(100% - 0.5rem);

  margin-bottom: 0.5rem;
  margin-left: 0.5rem;

  display: flex;
  justify-content: center;
}

.aside__container {
  background-color: var(--color-black-light);
  box-sizing: border-box;
  width: 100%;

  padding-bottom: 1.5rem;
  border-radius: 8px;
}

.aside__items {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.aside__watchlist {
  overflow: auto;
}

.asideItem {
  box-sizing: border-box;
  height: 56px;
  padding: 1rem 1rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--color-white-300);
  font-weight: 700;

  transition: all;
  transition-duration: 300ms;
}

.asideItem:hover {
  background-color: var(--color-black-light-highlighted-secondary);
  color: var(--color-white);
}

.asideItem--active {
  background-color: var(--color-black-light-highlighted);
}

.asideItem__title {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.asideItem__link {
  color: var(--color-primary);
}

.asideItem__link:hover {
  color: var(--color-secondary);
}

.asideItem__link--active {
  color: var(--color-secondary);
}

.asideItem__image {
  width: 24px;
  height: 24px;

  display: flex;
  flex-shrink: 0;
}

.asideItem__image--cover {
  width: 100%;
  height: 100%;
  border-radius: 100%;

  object-fit: cover;
}

/* Main */

.main {
  grid-area: main;

  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  display: flex;
  justify-content: center;

  overflow: auto;
}

.main__container {
  position: relative;

  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 8px;

  overflow-x: hidden;
}

.background__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  height: 20rem;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 177, 212, 0.2) 30%,
    rgba(0, 177, 212, 0.1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

/* Page */

.page {
  display: flex;
  justify-content: center;
}

.page__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page__title {
  color: var(--color-white);
  font-size: 2rem;
}

.page__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* PagesNavigation */

.pagesNavigation {
  height: 26px;

  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.pagesNavigation--currentPage {
  margin: 0 0.5rem;

  font-size: 1rem;
  font-weight: 600;
}

.pagesNavigation--button {
  cursor: pointer;

  background-color: var(--color-dark);
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 100%;

  display: flex;
  justify-content: center;

  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 800;

  transition: all;
  transition-duration: 200ms;
}

.pagesNavigation--button:hover {
  background-color: var(--color-primary);
  scale: 1.1;
}

.pagesNavigation--button:disabled {
  background-color: var(--color-black-light-highlighted-secondary);
  cursor: default;
  scale: 1;
}

/* AnimeList */

.animeList {
  display: flex;
  justify-content: center;
}

.animeList__container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* AnimeItem */

.animeItem {
  cursor: pointer;

  background-color: var(--color-black-light);
  box-sizing: border-box;
  height: max-content;
  padding: 0.5rem 0.5rem 1rem 0.5rem;

  border-radius: 8px;

  display: flex;
  justify-content: center;

  transition: all;
  transition-duration: 300ms;
}

.animeItem:hover {
  background-color: var(--color-black-light-highlighted);
}

.animeItem__container {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.animeItem__image {
  position: relative;

  width: 100%;
  height: max-content;

  display: flex;
}

.animeItem__image--cover {
  width: 100%;
  height: 260px;

  object-fit: cover;

  border-radius: 8px;
}

.animeItem__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 700;
  font-size: 1rem;
}

.animeItem__score {
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;

  background-color: var(--color-primary);
  width: 2.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;

  color: var(--color-white);
  font-weight: 800;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

/* SearchList */

.searchList {
  display: flex;
  justify-content: center;
}

.searchList__container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* SearchItem */

.searchItem {
  cursor: pointer;

  background-color: var(--color-black-light);
  box-sizing: border-box;
  height: 350px;
  padding: 0.75rem 1.5rem;

  border-radius: 8px;

  display: flex;

  transition: all;
  transition-duration: 300ms;
}

.searchItem:hover {
  background-color: var(--color-black-light-highlighted);
}

.searchItem__container {
  width: 100%;

  display: flex;
  gap: 1.5rem;
}

.searchItem__image {
  position: relative;

  width: 250px;
  height: 100%;

  display: flex;
  flex-shrink: 0;
}

.searchItem__image--cover {
  width: 100%;
  height: 100%;

  object-fit: cover;

  border-radius: 8px;
}

.searchItem__score {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;

  background-color: var(--color-primary);
  width: 2.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 100px;

  color: var(--color-white);
  font-weight: 800;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

.searchItem__data {
  margin: 0.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: scroll;
}

.searchItem__data--title {
  flex-shrink: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 800;
  font-size: 1.75rem;
}

.searchItem__data--favorites {
  flex-shrink: 0;

  color: var(--color-secondary);
  font-weight: 400;
  font-size: 0.85rem;
}

.searchItem__data--genres {
  flex-shrink: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--color-white-600);
  font-weight: 700;
  font-size: 1rem;
}

.searchItem__data--synopsis {
  margin-top: 0.25rem;
  padding-right: 1rem;

  overflow: auto;
  text-overflow: ellipsis;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
}

.searchItem__data--synopis--more {
  color: var(--color-primary);
  font-weight: 700;
}
