:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: #dedede;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #00b1d4;
  --color-secondary: #80f3ff;
  --color-light: #bff9ff;
  --color-dark: #008694;
  --color-black-light: #111111;
  --color-black-light-highlighted: #292929;
  --color-black-light-highlighted-secondary: #3f3f3f;
  --color-black: #000000;
  --color-white: #ffffff;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
}

a {
  text-decoration: inherit;
}

h1 {
  margin: 0;
  font-size: 3.2em;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* Layout */

.layout {
  display: flex;
  justify-content: center;
}

.layout__container {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-areas:
    'navbar navbar navbar'
    'aside main main';
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;

  gap: 0.5rem;
}

/* Navbar */

.navbar {
  grid-area: navbar;

  display: flex;
  justify-content: center;
}

.navbar__container {
  background-color: var(--color-black-light);
  height: 36px;
  width: 100%;

  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

/* Navbar Title */

.navbar__title {
  color: var(--color-primary);
  font-size: 2rem;
}

.navbar__title--highlighted {
  color: var(--color-white);
}

/* Navbar Search */

.navbar__search {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
}

.navbar__search__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;

  display: flex;
  justify-content: center;
}

.navbar__search--input {
  background-color: var(--color-black-light);
  width: 100%;
  padding: 0 0.8rem;

  border: var(--color-black-light-highlighted-secondary) solid 1px;
  border-color: var(--color-black-light-highlighted-secondary);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.navbar__search--input:focus {
  outline: none;

  border-color: var(--color-primary);
}

.navbar__search--button {
  cursor: pointer;

  background-color: var(--color-black-light-highlighted);
  width: 50px;
  padding: 0 0.8rem;

  border: var(--color-black-light-highlighted-secondary) solid 1px;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Links */

.navbar__links {
  display: flex;
  gap: 1.4rem;
}

.navbar__link {
  box-sizing: border-box;
  height: 32px;
  width: 32px;

  border: var(--color-primary) solid 2px;
  border-radius: 100%;

  transition: all;
  transition-duration: 300ms;
}

.navbar__link:hover {
  border-color: var(--color-secondary);

  scale: 1.05;
}

.navbar__link--active {
  border-color: var(--color-secondary);
}

.navbar__link--profile {
  height: 100%;
  width: 100%;
  border-radius: 100%;

  background-color: #292929;
}

/* Aside */

.aside {
  grid-area: aside;

  display: flex;
  justify-content: center;
}

.aside__container {
  background-color: var(--color-black-light);
  height: max-content;
  min-height: 10rem;
  width: 100%;

  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
}

.aside__items {
  display: flex;
  flex-direction: column;
}

.aside__item {
  padding: 1rem 1.4rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--color-primary);
  font-weight: 700;

  transition: all;
  transition-duration: 300ms;
}

.aside__item:hover {
  background-color: var(--color-black-light-highlighted-secondary);
  color: var(--color-secondary);
}

.aside__item--active {
  background-color: var(--color-black-light-highlighted);
  color: var(--color-secondary);
}

/* Main */

.main {
  grid-area: main;

  display: flex;
  justify-content: center;
}

.main__container {
  position: relative;

  width: 100%;

  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem 2.4rem;
  border-radius: 8px;

  overflow-x: hidden;
}

.background__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  width: 100%;
  height: 16rem;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 177, 212, 0.2) 30%,
    rgba(0, 177, 212, 0.1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}
